@charset "UTF-8";
@keyframes flavours {
  to {
    background-position: 0 -1000vh;
  }
}
@keyframes fadeIn {
  to {
    transform: translateY(0); /* Возврат на место */
  }
}
@keyframes toCenter {
  to {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@keyframes toCart {
  to {
    top: 80%;
    left: 49.4%;
  }
}
body {
  font-family: "YS Text", sans-serif;
  background: #edf6ff;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}
body .cart-element {
  position: relative;
}
body .cart-element #cart {
  position: absolute;
  bottom: 0;
  left: -200vw;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1000;
  animation: toCenter 0.9s forwards; /* Анимация появления тележки */
}
body .cart-element .products {
  align-items: end;
  width: 50%;
  position: absolute;
  bottom: 45px;
  left: 15px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body .cart-element .products img {
  margin-right: -10px;
}
body .lavka-with-products {
  position: relative;
  height: 100vh;
  width: 210px;
  margin: 0 auto;
}
body .lavka-with-products #lavka {
  position: absolute;
  bottom: 140px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body .lavka-with-products .all-products {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 16px;
  align-items: end;
  -moz-column-gap: 4px;
       column-gap: 4px;
  position: absolute;
  bottom: 260px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
body .lavka-with-products .all-products .products-list {
  position: absolute;
}
body .lavka-with-products .all-products .products-list img {
  transform: translateY(-100vh);
  animation: fadeIn 0.9s forwards; /* Анимация появления продуктов */
  width: auto;
  z-index: 1;
  cursor: grab;
}
body .lavka-with-products .all-products .products-list img:nth-child(1) {
  animation-delay: 1s;
}
body .lavka-with-products .all-products .products-list img:nth-child(2) {
  animation-delay: 1.1s;
}
body .lavka-with-products .all-products .products-list img:nth-child(3) {
  animation-delay: 1.2s;
}
body .lavka-with-products .all-products .products-list img:nth-child(4) {
  animation-delay: 1.3s;
}
body .lavka-with-products .all-products .products-list:nth-of-type(1) {
  bottom: 185px;
}
body .lavka-with-products .all-products .products-list:nth-of-type(2) {
  bottom: 90px;
}
body .lavka-with-products .all-products .products-list:nth-of-type(2) img:nth-of-type(2) {
  position: relative;
  bottom: -13px;
  rotate: -1deg;
}
body .lavka-with-products .all-products .products-list:nth-of-type(3) {
  bottom: -5px;
}
body .button-link {
  padding: 20px 18px;
  background-color: #fce000;
  color: #21201f;
  text-decoration: none;
  border-radius: 16px;
  font-size: 16px;
  position: fixed;
  bottom: -100vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 174px;
  width: 174px;
  z-index: 2000;
  transition: 0.6s;
  background-image: linear-gradient(0deg, #fce000 25%, #fcca00 50%, #fce000 75%);
  background-position: 0px 0px;
  background-repeat: repeat-y;
  animation: flavours 100s linear infinite;
}
body .button-link:hover {
  box-shadow: 0px 0px 20px 5px rgb(252, 224, 0);
}/*# sourceMappingURL=style.css.map */